.root {
    -fx-background-image: url("fog.png");
}
.label{
    -fx-font-size: 16px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: white;
    /*-fx-background-image: url("50.jpg");*/
    -fx-background-color: blue;
}